@if (!_loaded)
{
    <h3>Loading Categories Dropdown...</h3>
}
else
{
    <MudSelect Value="Value" ValueChanged="@UpdateValue" T="CategoryDto" Label="Categories">
        @foreach (var item in List)
        {
            <MudSelectItem Value="item" />
        }
    </MudSelect>
}