@if (!_loaded)
{
    <h3>Loading Priority Dropdown...</h3>
}
else
{
    <MudSelect Value="Value" ValueChanged="@UpdateValue" T="PriorityDto" Label="Priority">
        @foreach (var item in List)
        {
            <MudSelectItem Value="item" />
        }
    </MudSelect>
}