@page "/requests"
@rendermode InteractiveAuto

<h3>Requests</h3>

@if (!_Access)
{
    <h1>You dont have access to this page.</h1>
}
else
{
    <h1>View goes here!!</h1>
}


@code {
        [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }
    private bool _Access;

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            _navigationManager.NavigateTo($"login?returnUrl={Uri.EscapeDataString(_navigationManager.Uri)}");
        }
        else
        {
            _Access = securityService.HasPermission(user, Access.Request.View);
        }

    }
}
